<h1>Burgers</h1>

<h2>Burgers ready to eat</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured =true}}
        {{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured =false}}
      {{burger_name}}
    {{/if}}
  {{/each}}
</ul> 

<h2>Burgers that have been eaten</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div>

  <button type="submit">Burgers that been eaten</button>
</form> 
